<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/img/back.jpeg" alt="First slide" id="m">
    </div>
  </div>
</div>

<div class="container p-3 my-3 bg-dark text-white text-center">
  <h1>Welcome To Employee Management system</h1>
  <p>A crud application for Employe Management</p>
</div>
<div class="container">

  <div class="row mt-5 mb-5">
    <h3 class="mt-3 mb-3">The term Employee Management System is a platform where you can manage the employees like adding,removing and finding them</h3>
    <div class="col-sm-4">
      <div>
      <h3>Add Employee</h3>
      <p>click on the button and fill all the required information</p>
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/add']" routerLinkActive="router-link-active" >Add</button>
    </div>

    <div class="col-sm-4">
      <div>
      <h3>Remove Employee</h3>
      <p>click on the button to remove Employee</p>
    </div>
      <button type="button" class="btn btn-danger"  [routerLink]="['/remove']" routerLinkActive="router-link-active" >Remove</button>
    </div>

    <div class="col-sm-4">
    <div>
      <h3>Find Employee</h3>
      <p>click on the button and type employee name</p>
    </div>
      <button type="button" class="btn btn-info" [routerLink]="['/find']" routerLinkActive="router-link-active" >Find</button>
    </div>
  </div>
</div>

